.peach{
    background-color: rgba(244, 130, 130, 1);
    ;
}
.peachy{
    color: rgba(244, 130, 130, 1);

}
 .nav-custom{
    background-color: rgba(52, 73, 96, 1);
    padding: 0
}
.bg-custom{
    background-color: rgba(242, 245, 248, 1);
}
