@media (max-width: 800px){
    .music-control{
        flex-direction: column;
        font-size:x-small;
        width: 100%
    }
    .footer{
      flex-direction: column;
      width: 100%
    }
    .footer .contacts{
      justify-content: space-around;
    }
  }
.nav-custom{
  background-color: rgba(52, 73, 96, 1);
  padding: 0
}
.navbar-brand{
background-color:rgba(41, 58, 76, 1);
padding: 16px;
}
.bg-custom{
background-color: rgba(242, 245, 248, 1);
}
.avatar-container{
      width: 75vw;
      margin:auto;
      margin-bottom: 10vw;
}
.peach{
  background-color: rgba(244, 130, 130, 1);
  ;
}
.peachy{
  color: rgba(244, 130, 130, 1);

}
.btn-peach{
  color:rgb(244,130,130);
  border-color: rgb(244,130,130);
  
  border-radius: 1;
}
.header-img{
    background-image: url(assets/inner-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* min-height:90vh; */
    
    align-items: center;
    display:flex;
    justify-content: center;
 }

.kanye{
    position:absolute;
    display: block;
    border-radius: 50%;
    border-width: 5px;
    border-color: white;
}
.btn-custom{
    background-color:rgba(119, 196, 68, 1);
    color: white;
    border-radius: 1;

}
.img-1-peach {
  position: relative;
  background-color: rgb(221, 130,130);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2px;
}
  .img-1 {
    position: relative;
    background-color: rgb(221, 221, 221);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2px;
  }
  .img-2 {
    position: absolute;
    top: 0px;
    right: 0;
    
  }
  .footer{
    padding-top:4vw;
    padding-bottom: 2vw;
  }
  .footer-list{
    padding-left:10vw;
  }
  .footer-icons{
    margin-left:15vw;
  }
